In [4]:
import poloniex
import time

In [10]:
polo = poloniex.Poloniex()
chart_data = polo.returnChartData('USDT_BTC',period=7200,start=time.time() - polo.DAY * 100, end=time.time())

In [11]:
import pandas as pd

df = pd.DataFrame(chart_data)

,close,date,high,low,open,quoteVolume,volume,weightedAverage
0,8209.51354506,1524081600,8234,8106.31313988,8120,230.87450824,1891424.1303399,8192.43382371
1,8164.19061751,1524088800,8219.99999976,8118.69945012,8195.1532348,89.85488901,734222.10577207,8171.19818255
2,8194.91534364,1524096000,8195.46170062,8110,8167,171.24041721,1394659.2124027,8144.45114725
3,8194.9347348,1524103200,8289,8160.26215408,8192.96613746,130.87773288,1075878.4497004,8220.48507431
4,8183.79295344,1524110400,8198.63840449,8132.62056341,8182.84486571,85.48248033,698382.24793909,8169.88750493
5,8170,1524117600,8220.5,8103.87643262,8183.92909702,147.88743056,1209827.1412316,8180.73000964
6,8235.49999869,1524124800,8250,8123.38353169,8169,112.63916154,922977.31670266,8194.10677497
7,8193.54485721,1524132000,8250,8154.0905896,8222.80000088,126.01947146,1033949.3573628,8204.67936727
8,8222.11060252,1524139200,8250,8180.25847131,8193.56178895,132.53360249,1090381.419965,8227.20728539
9,8221.39006405,1524146400,8250.8656462,8180.89,8210.837933,83.57956686,687033.55076439,8220.11379785